//variables
$compBack: rgb(255, 255, 255);
$background: #F9F9F9;

//primary colours
$P-colour: (
    "db":#2F4CDD,
    "or":#FF6D4D,
    "dg":#3E4954,
    "ye":#FEC339,
    "lg":#F4F5F9
);

//font colours
$F-colour: (
    "gr":#A2A2A4,
    "bla":black,
    "wh":#fff,
    "blu":#38ABF5,
    "lblu":#E2F2FC,
    "lgr":#dadada,
    "db":#3C4469,
);

//font weights
$font-wight:(
    "light":400,
    "normal":500,
    "dark": 700
)
