@import "Variables";

.App {
    width:99vw;
    height: 98vh;
}

.PageContent {
    width: 83vw;
    height: 100%;
    margin-left:16vw;
    float: left;
    border-radius: 25px 25px 25px 25px;
}
  
h1 {
    
    text-align: center;
    color: colour(F,bla);
    text-transform: uppercase;
    font-size: 35px;
  }