@import "Variables";

.App {
    width:99vw;
    height: 99vh;
}

.PageContent {
    width: calc(100vw - 100px);
    height: 100%;
    margin-left: 100px;
    float: left;
    border-radius: 25px 25px 25px 25px;
    overflow-x:visible;
    overflow-y:hidden;
}
  
h1 {
    text-align: center;
    color: colour(F,bla);
    text-transform: uppercase;
    font-size: 35px;
  }