@import "./functionsAndVariables/Variables";

.App {
    width:100vw;
    height: 100vh;
    z-index: 5;
}

.PageContent {
    width: calc(100vw - 100px);
    height: 100vh;
    margin-left: 100px;
    float: left;
    overflow-x:visible;
    overflow-y:hidden;
}

h1 {
    text-align: center;
    color: colour(F,bla);
    text-transform: uppercase;
    font-size: 35px;
}

.Page {
    height: 95vh;
    width: calc(100vw -100px);

.content {
    overflow-y: hidden;
    overflow-x: scroll;
    height:92vh;
    padding-left:3vw;
    padding-right:3vw;
    //webkit browser scrollbar
    &::-webkit-scrollbar{
        width:4px
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }

    &::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(177, 177, 177) 
      }
    //firefox scrollbar
    scrollbar-color: rgb(177, 177, 177) #fff;
    scrollbar-width: thin;
    }
}