@import "Variables";
@import "functions";
.navbar {
    @include compSetup;
    overflow: hidden;
    width: 100px;
    height: 98vh;
    position:absolute;
    float: left;
    background-color: $compBack;
    
    transition: width 1s ease;
    transition-delay: 0.2s;
    &:hover{
      width:290px;
    }

    &:hover .profile p{
      opacity: 1;
    }
    
    &:hover .navbar_link{
      width : 270px;
    }
    //logo displayed on taskbar
    .NavLogo{
      background-image: url("../imageAssets/Logos/logo.svg");
      background-repeat: no-repeat, repeat;
      background-size: 80px 80px;

      width:80px;
      height:80px;
      margin-top: 4vh;
      margin-left: auto;
      margin-right: auto;
    }
    
    //user profile image and username
    .profile{
      @include montserratFont(Dark,colour(F,blu),19px);
      margin-top: 5vh;
      margin-bottom: 5vh;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width:100%;

      &Img{

        background-image: url("../imageAssets/Avatars/Animated/Asset33.svg");
        background-repeat: no-repeat, repeat;
        background-size: 60px 60px;
        background-color: beige;
        
        width:60px;
        height:60px;
        border-radius: 50%;
        border:3px solid colour(F,blu);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1vh;
      }

      p{
        transition: opacity 0.7s linear;
        opacity: 0;
      }
    }

    //navigation items
    &_items{
      list-style: none;
      padding:0;
      margin:0;
      display:flex;
      flex-direction: column;
      align-items:left;
      height: 65vh;

      .icon{
        width: 55px;
        height: 55px;
        margin-top: auto;
        margin-bottom:auto;
        margin-left: 14px;
        display: flex;
        flex-direction: column;
        
        img{
          margin:auto;
          width:35px;
          height:auto;
        }
      }
    }

    //navigation labels
    &_items-text{
      white-space: nowrap;
      margin-left:20px;
      display:block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s linear;
      transition-delay: 0.2s;
    }

    &:hover .navbar_items-text {

      visibility: visible;
      opacity: 1;
    }
    .logout{
      margin-top: auto;
    }
    //link

    #{&}_link {
      width : 270px;
      overflow: hidden;
      @include montserratFont(Dark,colour(F,gr),22px);
      text-decoration: none;
      display:flex;
      align-items:center;
      margin-left:10px;
      border-radius: 15px 15px 15px 15px;
      margin-top:1vh;

      &:hover {
        background-color: colour(F,lblu);
        transition: background-color .3s ease-in-out;
      }

      &_active {
        color:colour(F,blu);
        transition: color 0.5s ease-in-out;
      }
      &_active .icon{
        border-radius: 50%;
        background-color:rgba(colour(F,blu), 0.3);
        transition: background-color 0.5s ease-in-out;
      }
    }

    .moments{
      overflow:hidden;
      height:80px;
      transition: height 0.5s ease-in-out;
      transition-delay:0.2s;
      &:hover{
        height:130px;
      }
    }

    &_subitems-text{
      margin-top:2%;
      white-space: nowrap;
      margin-left:10px;
      display:block;
      margin-left: 25%;
      padding-top: 5px;
      padding-bottom:5px;
    }
  }

  
