$compBack: #FAFAFA;
$background: #ffff;


$P-colour: (
    "db":#5C17CB,
    "lb":#30CDFF,
    "pi":#D92A5C,
    "or":#F77020,
    "ye":#FFC421
);

$S-colour: (
    "pi":#ff4c6c,
    "lp":#ffd4e4,
    "ye":#ffc424,
    "pu":#4f2d87,
    "lb":#4acdff
);

$F-colour: (
    "gr":#A2A2A4,
    "bla":black,
    "wh":#fff,
    "blu":#38ABF5,
    "lblu":#E2F2FC
);

$font-wight:(
    "light":400,
    "normal":500,
    "Dark": 700
)
