$compBack: #FAFAFA;
$background: #ffff;
$text-colour:black;
$text-colour-light: white;
$text-colour-grey:lightgray;

$P-colour: (
    "db":#5C17CB,
    "lb":#30CDFF,
    "pi":#D92A5C,
    "or":#F77020,
    "ye":#FFC421,
);

$S-colour: (
    "pi":#5C17CB,
    "lp":#30CDFF,
    "lb":#D92A5C,
    "la":#F77020,
    "lc":#FFC421,
);

$font:(
    "Gothic":All Round Gothic,
    "Raleway":Raleway,
    "Montserrat":Monserrat
);

$font-wight:(
    "light":400,
    "normal":500,
    "bold": 700
)
