@import "NavBar";
@import "App";
@import "variables";
@import "resets";
@import "Home";
@import "Header";
@import "momentForm";
@import "Journal";

body{
    margin-top:1vh;
    height: 98vh;
    width: 99vw;
    background-color: $background;
}