@import "./GenericSheets/NavBar";
@import "App";
@import "./GenericSheets/variables";
@import "./GenericSheets/resets";
@import "./homePageSheets/Home";
@import "./GenericSheets/Header";
@import "./homePageSheets/momentForm";
@import "./homePageSheets/Journal";
@import "./yourJourneySheets/yourJourney";

body{
    margin-top:1vh;
    height: 98vh;
    width: 99vw;
    background-color: $background;
}