@import "./GenericSheets/NavBar";
@import "App";
@import "./GenericSheets/variables";
@import "./GenericSheets/resets";
@import "./homePageSheets/Dashboard";
@import "./GenericSheets/Header";
@import "./homePageSheets/momentForm";
@import "./homePageSheets/Journal";
@import "./yourJourneySheets/yourJourney";
@import "./yourJourneySheets/goals";
@import "./yourJourneySheets/goalComponent";
@import "./homePageSheets/OverlayMoment";
@import "./yourJourneySheets/selfAwareness";
@import "./yourJourneySheets/_community";
@import "./GenericSheets/userBubble";
@import "./perspectiveSheets/perspectives";
@import "./perspectiveSheets/formCard";
@import "./ChatSheets/chat";
@import "./profileSheets/profile";
@import "./communitySheets/community";

body{
    margin-top:0vh;
    height: 100vh;
    width: 100vw;
    background-color: $background;
}