@import "Variables";

.navBar {

    border-radius: 0px 25px 25px 0px;
    box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 0px;
    background-color: $pageBackground;
    margin-right: 1%;
  }
  
  h1 {
    font-family: "Arial Bold";
    text-align: center;
    color: $genericFontColour;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
  }
  
  .navbar__link {
    display: block;
    color: $genericFontColour;
    padding: 8px 16px;
    text-decoration: none;
    width: 80%;
    font-size: 20px;
    text-align: left;
    margin-left: 5%;
    margin-top: 6px;
    border-bottom: 3px solid white;
  }
  
  .navbar__link:hover {
    transform: translateY(-1px);
    border-bottom: 3px solid #bfebff;
    transition: border .3s ease-in-out, transform .3s ease-in-out;
  }
  
  .navbar__link--active {
    border-bottom: 3px solid #29b6f6;
    transition: border .3s ease-in-out;
  }
  