
.levelTrack{
    width:100%;
    background-color: $compBack;
    border-radius: 20px;
    height:40%;
    margin-top: 3vh;
    display:flex;

    h2{
        margin: 5% auto 5% 5%;
        @include PoppinsFont(500,colour(F,bla),20px);
    }
}
