@import "../GenericSheets/functions";
@import "../GenericSheets/variables";

.momentForm{
    margin-left:auto;
    margin-right:auto;
    @include compSetup;
    margin-left:auto;
    height:100%;
    width:100%;
    box-shadow: 0px 4px 24px rgba(158, 158, 158, 0.25), 0px 4px 24px #C4C4C4;
    overflow:hidden;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
        //top section where user selects their current feeling
        &_top-section{

            height:20%;
            border:3px solid colour(P,db);
            border-radius: 25px;
            text-align: center;
            padding-top:2%;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);


            h2{
                @include montserratFont(dark,colour(P,db),22px);
            }

            .feelingWrapper{
                height:30%;
                display:flex;
                flex:row;
                margin-left:10%;
                margin-right:10%;

                .feelingSelect{
                    border:none;
                    background-color: $compBack;
                    @include montserratFont(dark,colour(P,db),18px);
                    height:80px;
                    width:70px;
                    margin:auto;
                    transition:0.2s linear;
                    cursor: pointer;
                    display:flex;
                    flex-direction: column;
                    .feelingIcon{
                        margin:auto;
                        border-radius: 50%;
                        padding:-1px;
                        transition:0.2s linear;
                        width:50px;
                        height:50px;
                        transition:0.2s linear;
                        background-color: $compBack;
                    }
                    .feelingButton{
                        cursor: pointer;
                        border:none;
                    }
                    [type=radio]:checked + img{
                        translate: 0px -3px;
                        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.33);
                    }
                    [type=radio]{
                        visibility:hidden;
                        height:0px;
                        width:0px;
                    }
                }
            }
        }
        //section where user selects the category of the moment
        &_center-section{
            height:15%;
            padding:20px;
            margin-top: auto;
            margin-bottom: auto;
            p{
                @include montserratFont(dark,colour(P,db),22px);
            }
            .category_wrap{
                display:flex;
                align-content: center;
                flex-wrap: wrap;
                width:100%;
                margin-top: 2%;
                .category_select{
                    margin:1%;
                    display:flex;
                    .categoryLabel{
                        margin:auto;
                        @include montserratFont(dark,colour(P,db),18px);
                        white-space: nowrap;
                        display:flex;
                        background-color: $compBack;
                        border-radius: 25px;
                        height:30;
                        padding-right:20px;
                        padding-left:15px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border: 1.5px solid #201FDF;
                        margin-right:5%;
                        cursor: pointer;
                        transition:0.2s linear;
                    }

                    [type=radio]{
                        margin:0px;
                        visibility:hidden
                    }
                    [type=radio]:checked + p{
                        translate: 0px -3px;
                        box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.33);
                    }

                }
            }   
        }
        //section for user text input and button submission of the form
        &_bottom-section{
            border-radius: 25px;
            height:55%;
            background-color: colour(P,db);
            background: linear-gradient(149.49deg, #464EE2 39.55%, #9456F2 132.89%);
            box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
            padding-left:10%;
            padding-right: 10%;
            padding-top:3vh;
            margin-top: auto;
            p{
                white-space: nowrap;
                @include montserratFont(600,colour(F,wh),20px);
            }

            .feelings{
                height:8vh;
                border:none;
                @include montserratFont(400,colour(P,bla),18px);
                resize: none;
                width:96%;
                padding:2%;
                border-radius: 14px ;
                margin-top:2%;
                outline: none;
            }
            .mind{
                height:3vh;
                border:none;
                @include montserratFont(400,colour(P,bla),18px);
                resize: none;
                width:96%;
                padding:2%;
                border-radius: 14px ;
                margin-top:2%;
                margin-bottom: 2%;
                outline: none;
            }
            .selfAware_wrapper{
                margin-top: 2%;
                display:flex;
                flex:row;
                align-items:center;

                //slider button for self awareness
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                    margin-left:auto;
                    }
                    
                    .switch input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                    }
                    
                    .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                    }
                    
                    .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    }
                    
                    input:checked + .slider {
                    background-color: colour(P,ye);
                    }
                    
                    input:focus + .slider {
                    box-shadow: 0 0 1px colour(P,ye);
                    }
                    
                    input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                    }
                    
                    .slider.round {
                    border-radius: 34px;
                    }
                    
                    .slider.round:before {
                    border-radius: 50%;
                }
            }
            //form submission button
            .btn_wrapper{
                display: flex;
                align-content: center;
                height:15%;
                width:100%;
                margin-top: 2%;
                .create{
                    @include montserratFont(dark,colour(F,bla),22px);
                    margin:auto;
                    margin-top: 10px;
                    background-color: colour(P,ye);
                    width:230px;
                    height:60px;
                    border-radius: 48px;
                    border:none;
                    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.33);
                    transition:0.2s linear;
                    cursor:pointer;

                    &:hover{
                        translate: 0px 3px;
                        box-shadow: none;
                    }
                }
            }
            .error{
                margin-top:5%;
                margin-left: auto;
                margin-right:auto;
                width:100%;
                text-align: center;
                @include montserratFont(dark, colour(P,ye),20px);
            }
        }
}