@import "variables";
@import "functions";
@import "images";

.headerTop {
    text-align: left;
    display:flex;
    align-items:center;
    width:100%;
    height:6vh;
    background-color: $compBack;


    .searchbar{

        display:flex;
        padding-left: 10px;
        width:30%;
        min-width: 300px;
        height:40px;
        margin-right: 40px;
        margin-left: 3vh;
        background: #FDFDFD;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        border-radius: 8px;

        .seachIcon{
            margin-right: 10px;
            width:20px;
            height:20px;
            margin-top: auto;
            margin-bottom: auto;
            cursor: pointer;
        }

        .searchHead {
            @include PoppinsFont(500,colour(F,bla),20px);
            width:95%;
            background-color: #FDFDFD;
            border:none;
            padding:none;
        }

        textarea:focus, .search:focus{
            outline: none;
        }
    }

    .navIcons{
        list-style: none;
        display:flex;
        height: 100%;
        width:20%;

        .header_link{
            @include PoppinsFont(500,colour(F,bla),14px);
            margin:auto;
            width:100px;
            height:100%;
            display:flex;
            cursor: pointer;
            text-decoration: none;
            transition:0.4s linear;
            &:hover{
                background-color: rgba(colour(P,db),0.1);
            }
            p{
                margin:auto;
            }
            &_active{
                @include PoppinsFont(500,colour(P,db),14px);
            }
        }

    }

    .notificationIcons{
        list-style: none;
        display:flex;
        height: 100%;
        width:15%;
        margin-left: auto;
        margin-right: auto;
        .notIcon{
            height:50px;
            margin:auto;
            width:50px;
            cursor: pointer;
            transition:0.3s linear;
            border-radius: 8px;
            &:hover{
                translate: 0px -3px;
                box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.33);
            }
            img{
                margin:auto;
            }

            .bellIcon{
                height:100%;
                width:100%;
                border-radius: 8px;
                background-color: #E9ECFF;
                display:flex;
            }
            .chatIcon{
                height:100%;
                width:100%;
                border-radius: 8px;
                background-color: #E9ECFF;
                display:flex;
            }
            .goalIcon{
                height:100%;
                width:100%;
                border-radius: 8px;
                background-color: #F1F1F1;
                display:flex;
            }
            .settingIcon{
                height:100%;
                width:100%;
                border-radius: 8px;
                background-color: #FFEBE7;
                display:flex; 
            }
        }
    }

    .profile_link{
        @include PoppinsFont(500,colour(F,wh),14px);
        margin:auto 3vw auto 0%;
        cursor: pointer;
        text-decoration: none;
        transition:0.3s linear;
        height:50px;
        width:180px;

        &:hover{
            translate: 0px -3px;
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.33);
        }
        .linkWrap{
            margin-left: 0%;
            width:100%;
            height:100%;
            display:flex;
            .profileBackground{
                width:90%;
                height:100%;
                border-radius: 8px;
                background-color: colour(P,db);
                display:flex;
            }
            .text{
                margin:auto;
                margin-left: 5%;
            }
    
            .profilePicture{
                background-color: gray;
                border-radius: 50%;
                border: 3px solid white;
                width: 45px;
                height:45px;
                position:absolute;
                margin-left: 130px;
            }
        }

    }

    
}
.headerBottom{
    height:3vh;
    padding-top:2vh;
    padding-bottom: 2vh;
    display:flex;
    flex-direction: column;
    z-index: 800;

    h2 {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: 3vw;
        margin-left: 3vw;
        @include PoppinsFont(600,colour(F,bla),24px);
        white-space: nowrap;
    }
    .subtitleWrapper{
        display: flex;
        flex-direction: row;
        width:15vw;
        .blueTitle{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 3vw;
            @include PoppinsFont(500,colour(P,db),14px);
            white-space: nowrap;
        }
        .grayTitle{
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
            @include PoppinsFont(500,colour(F,gr),14px);
            white-space: nowrap;
        }
    }

}