#userBubble{
    display:flex;
    flex-direction: column;
    height:100px;
    width:120px;
    margin:auto;
    p{
        @include montserratFont(dark,colour(F,bla),20px);
        margin-left:auto;
        margin-right:auto;
        margin-top: auto;
    }
    .title{
        margin-left:auto;
        margin-right:auto;
        height:80px;
        width:80px;
        border-radius: 50%;
        background-color: colour(P,db);
        display:flex;
        h2{
            margin:auto;
            @include montserratFont(dark,colour(F,wh),40px);
        }
    }
}