@import "../functionsAndVariables/variables";
@import "../functionsAndVariables/functions";
@import "../functionsAndVariables/images";
.momentsAnswersWrap{
    height:10vh;
    width:100%;
    display:flex;
    margin-bottom: 2vh;
    .imgBack{
        display:flex;
        height:80px;
        width:80px;
        background:#DEE4FF;
        border-radius: 50%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
        margin-right: 5%;
        img{
            height:40px;
            width: 40px;
            margin:auto;
        }
    }
    .totalMoments{
        display:flex;
        height:100%;
        width:45%;
        background-color: $compBack;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 20px;
    }
    .answersRecieved{
        display:flex;
        margin-left: auto;
        height:100%;
        width:45%;
        background-color: $compBack;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 20px;
    }
    .textWrap{
        height:100%;
        display:flex;
        flex-direction: column;
        text-align: left;
        .number{
            margin-right: auto;
            margin-top: auto;
            @include PoppinsFont(dark,black,35px);
        }
        .subTitle{
            margin-right: auto;
            
            @include PoppinsFont(500,colour(F,gr),16px);
        }
        .percent{
            @include PoppinsFont(500,colour(F,gr),12px);
            margin-bottom: auto;
        }
    }
}
.journal {
    height:70vh;
    width:100%;
    margin:0px;
    overflow: hidden;

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
      }
      
      #text{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
      }
      
    h2 {
        @include montserratFont(dark,colour(P,db),24px);
    }

    &_underline{
        margin-top:3%;
        height:3px;
        width:30%;
        background-color: colour(P,db);
    }
    &_form{
        display:flex;
        width: 100%;
        margin-bottom:10px;

        .journal_categories{
            @include montserratFont(dark,colour(F,wh),18px);
            background-color: colour(F,blu);
            border:none;
            width: 160px;
            height:32px;
            margin-left:auto;
            margin-top:auto;
            margin-right:3vw;
            border-radius:8px;
        }
    }

    .momentList{
        height:70vh;
        overflow: none;
        overflow-y: scroll;
        width:100%;
        //firefox scrollbar
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */


        .moment{
            width: 100%;
            padding: 20px 0px 20px 0px;
            display:flex;
            background-color: $compBack;
            border-radius: 25px ;
            margin-bottom:2vh;
            transition:0.5s linear;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            &:hover{
                background-color: colour(P,db);
            }
            &:hover .momentText h2{
                color:white;
            }
            &:hover .momentText p{
                color:white;
            }
            
            .momentText{
                width:70%;
                margin-left:5%;
                display:flex;
                flex-direction: column;
                h2{
                    transition:0.5s linear;
                    margin-top:1vh;
                    @include montserratFont(dark,black,24px);
                    margin-bottom: 1vh;
                }
                p{
                    transition:0.5s linear;
                    @include montserratFont(dark,colour(F,bla),16px);
                }

                .dateText{  
                    margin-top:auto;
                    margin-left:auto;
                    @include montserratFont(dark,colour(F,bla),13px);
                }
            }
            .icon{
                height:150px;
                width:150px;
                box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.33);
                background-color: white;
                background-size: 120px 120px;
                background-image: psycIcon("ADHD");
                background-repeat: no-repeat, repeat;
                background-position: center;
                border-radius: 50%;
                border:4px solid colour(P,ye);
                margin-left: 1vw;
            }
        }

    }

}