@import "../GenericSheets/Variables";
@import "../GenericSheets/functions";
.newDiscussion{
    height:50vh;
    width:20%;
    min-width: 350px;
    background-color: colour(P,dg);
    margin-top: 3vh;
    border-radius: 20px;
    margin-left: 3vw;
    margin-right: 3vw;
    display:flex;
    flex-direction: column;
    .userWrapper{
        display:flex;
        flex-direction: row;
        margin:2vh;
        margin-bottom: 0px;
        .icon{
            background-color: colour(F,lgr);
            width:48px;
            height:48px;
            border-radius: 50%;
        }
        .textWrap{
            width:50%;
            margin-left: 5%;
            .username{
                @include PoppinsFont(600,colour(F,wh),16px);
            }
            .level{
                @include PoppinsFont(500,colour(F,gr),12px);
            }
        }
    }

    .formWrapper{
        padding:2vh;
        padding-bottom: 0px;
        h2{
            @include PoppinsFont(600,colour(F,wh),28px);
        }
        p{
            @include PoppinsFont(400,colour(F,wh),18px);
            line-height: 26px;
            letter-spacing: -0.24px;
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
        .textInput{
            width:96%;
            border:none;
            @include PoppinsFont(500,colour(F,bla),18px);
            line-height: 26px;
            letter-spacing: -0.24px;
            resize: none;
            padding:2%;
            border-radius: 10px ;
            margin-top:2%;
            margin-bottom: 2%;
            outline: none;
            background-color: colour(P,lg);
        }
    }
    .category_wrap{
        display:flex;
        align-content: left;
        flex-wrap: wrap;
        width:95%;
        margin-top: 2%;
        margin-left: 1vh;
        .category_select{
            margin:1%;
            display:flex;
            .categoryLabel{
                margin:auto;
                @include montserratFont(500,#798EA4,14px);
                white-space: nowrap;
                display:flex;
                background-color: #25303C;
                border-radius: 25px;
                height:30;
                padding-right:20px;
                padding-left:15px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-right:5%;
                margin-left: 0px;
                cursor: pointer;
                transition:0.2s linear;
            }

            [type=radio]{
                margin:0px;
                visibility:hidden
            }
            [type=radio]:checked + p{
                translate: 0px -3px;
                box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.33);
                color:white;
            }

        }
    }
    .submit{
        width:100%;
        height:15%;
        margin-top: auto;
        border:none;
        border-radius: 20px;
        background-color: colour(P,or);
        @include PoppinsFont(700,colour(F,wh),26px);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }  

}