.navbar {
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2px 0px 4px rgba(191, 190, 190, 0.69);
  overflow: hidden;
  width: 100px;
  height: 98vh;
  position: absolute;
  float: left;
  background-color: #FAFAFA;
  transition: width 1s ease;
  transition-delay: 0.2s; }
  .navbar:hover {
    width: 290px; }
  .navbar:hover .profile p {
    opacity: 1; }
  .navbar:hover .navbar_link {
    width: 270px; }
  .navbar .NavLogo {
    background-image: url("../imageAssets/Logos/logo.svg");
    background-repeat: no-repeat, repeat;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto; }
  .navbar .profile {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-weight: 700;
    color: #38ABF5;
    font-size: 19px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
    .navbar .profileImg {
      background-image: url("../imageAssets/Avatars/Animated/Asset33.svg");
      background-repeat: no-repeat, repeat;
      background-size: 60px 60px;
      background-color: beige;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px solid #38ABF5;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1vh; }
    .navbar .profile p {
      transition: opacity 0.7s linear;
      opacity: 0; }
  .navbar_items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 65vh; }
    .navbar_items .icon {
      width: 35px;
      height: 35px;
      background-color: #A2A2A4;
      border-radius: 50%;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 22.5px; }
  .navbar_items-text {
    white-space: nowrap;
    margin-left: 10px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    transition-delay: 0.2s; }
  .navbar:hover .navbar_items-text {
    visibility: visible;
    opacity: 1; }
  .navbar .logout {
    margin-top: auto; }
  .navbar .navbar_link {
    width: 270px;
    overflow: hidden;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-weight: 700;
    color: #A2A2A4;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh; }
    .navbar .navbar_link:hover {
      background-color: #E2F2FC;
      transition: background-color .3s ease-in-out; }
    .navbar .navbar_link_active {
      color: #38ABF5;
      transition: color 0.5s ease-in-out; }
    .navbar .navbar_link_active .icon {
      background-color: #38ABF5;
      transition: background-color 0.5s ease-in-out; }

.App {
  width: 99vw;
  height: 98vh; }

.PageContent {
  width: 83vw;
  height: 100%;
  margin-left: 16vw;
  float: left;
  border-radius: 25px 25px 25px 25px; }

h1 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 35px; }

* {
  box-sizing: broder-box;
  margin: 0;
  padding: 0; }

body {
  margin-top: 1vh;
  height: 98vh;
  width: 99vw;
  background-color: #ffff; }
