.App {
  text-align: center;
}

*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Arial';
  text-align: center;
  color: red;
  font-weight: 300;
  text-transform: uppercase;
}